<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
 
<head>
    <meta charset="UTF-8">
    <title>Boas vindas</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
 
<body>
    <div class="container">
        <h2 class="text-info text-center">Bem vindo à um exemplo de Springboot com Thymeleaf</h2>
        <hr/>
        <div id="message">
            <p class="lead" th:text="${msg}" />
        </div>
    </div>
</body>
 
</html>
